<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{% url 'create' %}" method="GET">
        <h1>새 강의평 쓰기</h1>
        <h2>수업명 : </h2>
        <h4>코멘트 작성</h4>
        <textarea cols="50" rows="20" name='body'></textarea>
        <br>
        <h4>점수 입력</h4>
        <input type="number" name="rating">
        <br>
        <br>
        <input class="btn" type="submit" value="강의평 제출">
    </form>
</body>
</html>